SITE_TITLE="DEV2GETHER"
SECRET=JLFOKjofap17!Ee32~d94CDEWogikf
PGSQL_DATABASE_URL=
MYSQL_DATABASE_URL=
MYSQL_DATABASE_USER=
MYSQL_DATABASE_PASS=
MYSQL_DATABASE_NAME=DEV2GETHER
URL=localhost
PORT=3001
ENV=development
GMAIL_EMAIL=
GMAIL_PASS=